In [36]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [37]:
people = [("Wayne", "Hatter", "Dec 11"),
         ("Albert", "Einstein", "March 14"),
         ("John", "Lennon", "October 9"),
         ("Jocelyn", "Bell Burnell", "July 15")]

In [38]:
people[2]

('John', 'Lennon', 'October 9')

In [39]:
people[0][1]

'Hatter'

In [40]:
[person for person in people if person[2] == "Dec 11"]

[('Wayne', 'Hatter', 'Dec 11')]

In [41]:
persontype = collections.namedtuple('person', ['firstname', 'lastname', 'birthday'])

In [42]:
wayne = persontype("Wayne", "Hatter", "Dec 11")

In [43]:
wayne

person(firstname='Wayne', lastname='Hatter', birthday='Dec 11')

In [44]:
wayne[0], wayne[1], wayne[2]

('Wayne', 'Hatter', 'Dec 11')

In [45]:
wayne.firstname, wayne.lastname, wayne.birthday

('Wayne', 'Hatter', 'Dec 11')

In [46]:
persontype(people[0])

TypeError: person.__new__() missing 2 required positional arguments: 'lastname' and 'birthday'

In [47]:
persontype(*people[0])

person(firstname='Wayne', lastname='Hatter', birthday='Dec 11')

In [48]:
namedpeople = [persontype(*person) for person in people]

In [49]:
namedpeople

[person(firstname='Wayne', lastname='Hatter', birthday='Dec 11'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [50]:
[person for person in namedpeople if person.birthday == "July 15"]

[person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [51]:
#!pip install dataclasses

In [52]:
from dataclasses import dataclass

In [53]:
@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = "unknown"

In [54]:
wayne = personclass('Michele', 'Vallisneri')

In [55]:
wayne

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [56]:
wayne = personclass(firstname='Wayne', lastname='Hatter')

In [57]:
wayne

personclass(firstname='Wayne', lastname='Hatter', birthday='unknown')

In [58]:
wayne.firstname, wayne.lastname, wayne.birthday

('Wayne', 'Hatter', 'unknown')

In [59]:
wayne[0]

TypeError: 'personclass' object is not subscriptable

In [60]:
print(wayne)

personclass(firstname='Wayne', lastname='Hatter', birthday='unknown')

In [61]:
@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

    def fullname(self):
        return self.firstname + " " + self.lastname

In [62]:
wayne = personclass2('Wayne', 'Hatter')

In [63]:
wayne.fullname()

'Wayne Hatter'

In [64]:
def mydefault():
    return "I don't know"

In [65]:
questions = collections.defaultdict(mydefault)

In [66]:
questions['The meaning of life']

"I don't know"

In [67]:
questions

defaultdict(<function __main__.mydefault()>,
            {'The meaning of life': "I don't know"})

In [68]:
birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [69]:
birthdays

{'Dec 11': ['Wayne'],
 'March 14': ['Albert'],
 'October 9': ['John'],
 'July 15': ['Jocelyn']}

In [81]:
for i in range(5, 25, 4):
    print(i)

5
9
13
17
21